<h2>
  <br />
  <span>SPLURTY / No. <%= @quote.id %></span>  Here's the <u>best startup advice</u> you can get ...
  <br />
</h2>

<br />



<h1 class="text-center"><%= @quote.saying %></h1>
<br />
<h2 class="links">- <%= @quote.author %></h2>
<br />